# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\data_structure_in_c\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
